<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로맨틱홀리데이</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sub1_styles.css') }}">
</head>
<body>
    <div class="main">
        <img class="main_back" src="{{ url_for('static', filename='images/main 1 uk.svg') }}">
        <img class = "info_uk" src="{{ url_for('static', filename='images/uk pic.svg') }}">
    </div>
    <div class="button hide">
        <a href="{{ url_for('uk_details')}}"><div class="background"></div></a>
        <p>Click to see more</p>
    </div>
    <script src="{{ url_for('static', filename='js/sub1_index.js') }}" charset="utf-8"></script>
</body>
</html>
