<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로맨틱홀리데이</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sub1_styles_us.css') }}">
</head>
<body>
    <div class="main">
        <img class="main_back" src="{{ url_for('static', filename='images/main 1  us.svg') }}">
        <!-- <img class = "info_us" src="{{ url_for('static', filename='images/usMain.png') }}"> -->
        <div class="button hide">
            <a href="{{url_for('us_details')}}"><div class="background"></div>
                <img id="seemore" src="{{ url_for('static', filename='images/Click to see more.svg') }}">
            </a>
        </div>
    </div>
    <script src="{{ url_for('static', filename='js/sub1_index.js') }}" charset="utf-8"></script>
</body>
</html>
