<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로맨틱 홀리데이</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sub3_styles.css') }}">
</head>

<body>
    <a href="javascript:history.back()"><img class="back" src="{{ url_for('static', filename='images/back.svg') }}"></a>
    <div class="back_left"></div>
    <div class="back_main">
        <div class="container">
            <img class="tab" src="{{ url_for('static', filename='images/tabs_canvas.svg') }}">
            <img id="scroll" src="{{ url_for('static', filename='images/scroll_canvas.svg') }}">
            <div class="drawing-board">
                <img class="placeholder placeholder1"
                    src="{{ url_for('static', filename='images/placeholder1_canvas.svg') }}">
                <img class="placeholder2" src="{{ url_for('static', filename='images/placeholder2_canvas.svg') }}">
                <canvas id="drawing-board">
                </canvas>
                <button id="cancel"> <img src="{{ url_for('static', filename='images/cancel_canvas.svg') }}"> </button>
                <button id="save"> <img src="{{ url_for('static', filename='images/save_canvas.svg') }}"> </button>
            </div>
        </div>
        <div class="display">
            {% for image in images %}
            <img class="image" src="{{image.image}}">
            {% endfor %}
        </div>
    </div>
    <div class="back_right"></div>

    <!-- jquery -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script> -->
    <!-- my js script -->
    <script>
        const canvas = document.getElementById('drawing-board');
        const cancel = document.getElementById('cancel');
        const save = document.getElementById('save');
        const ctx = canvas.getContext('2d');
        const placeholder = document.querySelectorAll(".placeholder")

        canvas.width = (801 / 1920) * window.innerWidth;
        canvas.height = (323 / 1080) * window.innerHeight;

        // background expand

        const gridDisplay = document.querySelector('.display');
        const backLeft = document.querySelector('.back_left');
        const backRight = document.querySelector('.back_right');
        const children = gridDisplay.children;
        if (children.length > 6) {
            const lastChild = children[children.length - 1];
            const lastChildRect = lastChild.getBoundingClientRect();
            const divHeight = lastChildRect.top + (1.6 * window.innerHeight) + 'px'; //60*window.innerHeight
            backLeft.style.height = divHeight;
            backRight.style.height = divHeight;
        };

        let isPainting = false;
        let paint = false;
        let lineWidth = 5;
        let startX;
        let startY;


        cancel.addEventListener('click', e => {
            ctx.clearRect(0, 0, canvas.width, canvas.height);
            paint = false;
        });

        const draw = (e) => {
            if (!isPainting) {
                return;
            }
            const location = canvas.getBoundingClientRect();
            ctx.lineWidth = lineWidth;
            ctx.lineCap = 'round';

            ctx.lineTo(e.clientX - location.left, e.clientY - location.top);
            ctx.stroke();
        }

        canvas.addEventListener('mousedown', (e) => {
            paint = true;
            isPainting = true;
            startX = e.clientX;
            startY = e.clientY;
        });

        canvas.addEventListener('mouseup', e => {
            isPainting = false;
            ctx.stroke();
            ctx.beginPath();
        });

        canvas.addEventListener('mousemove', draw); // Attach the event to the document instead of canvas

        for (const element of placeholder) {
            canvas.addEventListener('mouseenter', () => element.classList.add("hide"))
            canvas.addEventListener('mouseleave', () => {
                if (paint == false) { element.classList.remove("hide"); }
            })
        }


        save.addEventListener('click', (e) => {
            var url = canvas.toDataURL();
            var formData = new FormData();
            formData.append('image', url);
            fetch('/archive', {
                method: 'POST',
                body: formData
            }).then(window.open("{{(url_for('archive'))}}")
            );
            // 페이지 reload해서 보여줘야해
        })


    </script>
</body>

</html>