@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
body {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}
.main {
    /* background-color: #E2E2E2; */
    display: flex;
    position: relative;
    width: 33.17vw;
    height: 78.05vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    /* border-radius: 21px; */
    /* box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.25); */
}
.main img {
    width: 100%;
    height: 100%;
    /* width: 33.17vw;
    height: 78.05vh; */
    border-radius: 21px;
    box-shadow: 15px 15px 40px 0px rgba(0, 0, 0, 0.25);
}
.clickMe {
    position:absolute;
    width: 33.75%;
    height: 15.18%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.background {
    position:relative;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 50%;
}
#left_seemore {
    width: 42.99%;
    height: 18.75%;
    opacity: 100% !important;
    z-index: 2;
    position: absolute;
}
#right_seemore {
    width: 42.99%;
    height: 18.75%;
    position: absolute;
    z-index: 2;
    opacity: 100% !important;
}
a {
    position: absolute;
    left: 0vw;
    top: 0vh;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.left {
    top: 48.87%;
    left: 11.93%;
}

.right{
    top: 48.87%;
    left: 54.63%;
}
.hide {
    opacity: 0;
}
