<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>로맨틱홀리데이</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/sub2-us_styles.css') }}">
</head>
<body>
    <div class="main">
        <img class="main_pic" draggable="false" src="{{ url_for('static', filename='images/main 1  us.svg') }}">
        <!-- <img draggable="false" class = "info" src="{{ url_for('static', filename='images/usMain.png') }}"> -->
    </div>
    <div  class="back_main"><img class="back_img" draggable="false" src="{{ url_for('static', filename='images/main 1 uk.svg') }}"></div>
    <div class="drag sofa">
        <img draggable="false" src="{{ url_for('static', filename='images/us_sofa.svg') }}">
    </div>
    <div class="drag pool">
        <img draggable="false" src="{{ url_for('static', filename='images/us_pool.svg') }}">
    </div>
    <div class="drag media">
        <img draggable="false" src="{{ url_for('static', filename='images/us_media.svg') }}" alt="media mediaRoom_us">
    </div>
    <div class="drag text">
        <img draggable="false" src="{{ url_for('static', filename='images/text 1.svg') }}">
        <a class="button hide" href="{{url_for('archive')}}">
            <div class="black">
            </div>
            <img id="click" draggable="false" src="{{ url_for('static', filename='images/Click.svg') }}">
        </a>
    </div>
    <p class="move_text">창들을 드래그해서 옮겨보세요</p>
    <script src="{{ url_for('static', filename='js/sub2_index.js') }}" charset="utf-8"></script>
</body>
</html>